html,body {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
  
}

.App {
  height: 100vh;
  width: 100%;
}

.leftBar {
  display: inline-block;
  width: 30%;
  height: 100vh;
  background: #FFF;
  vertical-align: top;
  border-right: solid 1px #E0E0E0;
}

.nav {
  height: 60px;
  width: 100%;
  background: #009688;
  padding: 10px;
  display: flex;
  align-items: center;
  
}

.nav .avatar {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  float: left;
}

.nav h3 {
  float: left;
  margin-left: 10px;
  font-family: 'Roboto', sans-serif;
  color: #FFF;
  font-size: 16px;
  
}

.searchHolder {
  width: 100%;
  height: 55px;
  background: #f7f9fa;
  padding: 10px;
}

.searchInput {
  width: calc(100%);
  height: 100%;
  border: none;
  outline: none;
  float: left;

}

.searchInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding: 10px;
  color: #BDBDBD;
}

.rightBar {
  display: inline-block;
  width: 70%;
  height: 100vh;
  background: #f7f9fa;
}

.messageBox {
  width: 100%;
  height: 70px;
  padding: 10px;
  position: relative;
  border-bottom: solid 1px #eeeeee;
}

.messageBox:hover {
  background: #f7f9fa;
  cursor: pointer;
}

.messageBox .avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.messageBox .userImage {
  display: inline-block;
  
  width: 16%;
}

.messageBox .content {
  display: inline-block;
  vertical-align: top;
  width: 80%;
}

.messageBox .user {
  font-weight: bold;
  margin-bottom: 5px;
}

.messageBox .msg {
  color: grey;
  
}



.sendMessage {
  height: 60px;
  width: 100%;
  background: #eeeeee;
  padding: 10px;
}

.messageInput {
  float: left;
  width: 93%;
  height: 40px;
  margin-right: 10px;
}

.sendMessageButton {
  height: 40px;
  float: left;
  width: calc(7% - 10px);
  background: #009688;
  color: #FFF;
  
}

.conversation {
  height: calc(100vh - 120px);
  width: 100%;
  position: relative;
  background: #efe7dd url("https://cloud.githubusercontent.com/assets/398893/15136779/4e765036-1639-11e6-9201-67e728e86f39.jpg") repeat;
  z-index: 0;
}

.conversation ::-webkit-scrollbar {
  transition: all .5s;
  width: 5px;
  height: 1px;
  z-index: 10;
}

.conversation ::-webkit-scrollbar-track {
  background: transparent;
}

.conversation ::-webkit-scrollbar-thumb {
  background: #b3ada7;
}

.conversation .conversation-container {
  height: calc(100% - 68px);
  box-shadow: inset 0 10px 10px -10px #000000;
  overflow-x: hidden;
  padding: 0 16px;
  margin-bottom: 5px;
}

.conversation .conversation-container:after {
  content: "";
  display: table;
  clear: both;
}

/* Messages */

.message {
  color: #000;
  clear: both;
  line-height: 18px;
  font-size: 15px;
  padding: 8px;
  position: relative;
  margin: 8px 0;
  max-width: 85%;
  word-wrap: break-word;
}

.message:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
}

.metadata {
  display: inline-block;
  float: right;
  padding: 0 0 0 7px;
  position: relative;
  bottom: -4px;
}

.metadata .time {
  color: rgba(0, 0, 0, .45);
  font-size: 11px;
  display: inline-block;
}



.message:first-child {
  margin: 16px 0 8px;
}

.message.received {
  background: #fff;
  border-radius: 0px 5px 5px 5px;
  float: left;
}

.message.received .metadata {
  padding: 0 0 0 16px;
}

.message.received:after {
  border-width: 0px 10px 10px 0;
  border-color: transparent #fff transparent transparent;
  top: 0;
  left: -10px;
}

.message.sent {
  background: #e1ffc7;
  border-radius: 5px 0px 5px 5px;
  float: right;
}

.message.sent:after {
  border-width: 0px 0 10px 10px;
  border-color: transparent transparent transparent #e1ffc7;
  top: 0;
  right: -10px;
}


/* LOADER */
.lds-ring {
  display: flex;
  align-items: center;
  justify-content: center;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 10px;
  width: 25px;
  height: 25px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes blinker {
  50% {
    
    background: #00BCD4;
  }
}